@import "~bulma/sass/utilities/initial-variables"

// Config vars
// MD logo brand color: #6ca9c1
 // Dark blue gray #383F41
// Light blue #AFC3CB / #A8E6FF
// Dark blue #366374
// Brown #74512A
// Light Brown #C1996C
$md-blue: #6ca9c1
$md-dark-blue: #383F41
$md-light-blue: #AFC3CB
$primary: $md-blue
$hover: $md-light-blue
$body-color: #fff
$dark-gray: #292929
$light-gray: #cccccc
$brown: #74512A
$light-brown: #C1996C
$bg-color: $dark-gray
$primary-button: $brown
$primary-button-hover: $light-brown

body 
  font-family: 'Noto Sans', sans-serif
  background-color: $bg-color
  min-height: 100vh
  .navbar
    background-color: $bg-color

.navbar 
  .navbar-menu, .navbar-burger
    box-shadow:none !important
    background-color: transparent
    .navbar-item
      display: inline-flex
      color: $primary
      &:hover
        color: $hover

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

body h1 
  color: $primary
  font-size: 3em
  text-transform: uppercase

.content h1.has-text-centered
  padding-top: 3em

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

body
  .content h1, .content h2, .content h3, .content h4, section 
    color: $body-color

body a
  color: $primary
  &:hover
    color: $hover

a.button, button, button.button, button.button.is-link
  background-color: $primary-button
  color: $body-color
  border: none
  &:hover
    background-color: $primary-button-hover
    color: $body-color

.button.is-small
  border-raidus: 8px

h2, h2.title
  color: $primary

div.navbar-burger
  color: $primary

label.label
  color: $body-color
  font-weight: normal

footer.footer
  background-color: $bg-color
  color: $md-dark-blue
  height: 2.5rem
  padding: 0rem 4rem 1rem
  bottom: 0px
  position: fixed 
  width: 100%

.short-bio
  opacity: 1
  -webkit-animation: fadein 5s
  -moz-animation: fadein 5s
  -ms-animation: fadein 5s
  -o-animation: fadein 5s
  animation: fadein 5s

  @keyframes fadein 
    from 
      opacity: 0
    to
      opacity: 1


@import "~bulma"
